:root{
// Primary
--Pale-blue: hsl(225, 100%, 94%);  // Azul palido
--Bright-blue: hsl(245, 75%, 52%);  //azul brilhante

// Neutral == Neutro
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--text: rgb(143,143,143);
--hover: rgba(56, 41, 224, 0.700);
}

*{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    // border: solid 2px red;
}